* {
    background-color: teal;
}

header {
    height: 120px;
}

header h1 {
    font-size: 3em;
    margin-left: 140px;
    margin-bottom: 0px;
    text-align: justify;
}

header nav {
    margin-left: 140px;
    margin-top: 1em;
    font-size: 1.5em;
    word-spacing: 10px;
}

article {
    margin-left: 20px;
}

img {
    float: left;
}

section.container {
    margin-top: 2em;
    height: auto;
}

section div {
    float: right;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
}

img.contents {
    margin-top: 50px;
    width: 30%;
}

div.contents {
    width: 65%;
}

div.home-contents {
    width: 75%;
}

img.home-contents {
    margin-top: 50px;
    max-height: 300px;
}

dl.home-contents {
    font-size: x-large;
    line-height: 1.8;
    margin-left: 20px;
}

.contents-title {
    font-size: 2.5em;
    vertical-align: text-top;
    margin-top: 0px;
}

.contact-contents {
    font-size: x-large;
    float: left;
    width: 65%;
    margin-left: 50px;
    margin-top: 25px;
}

img.contact-contents {
    margin-top: 50px;
    width: 20%;
}